In [1]:
import pandas as pd
import numpy as np

In [57]:
pip install s3fs

Defaulting to user installation because normal site-packages is not writeable
Collecting s3fs
  Downloading s3fs-2023.3.0-py3-none-any.whl (27 kB)
Collecting aiobotocore~=2.4.2
  Downloading aiobotocore-2.4.2-py3-none-any.whl (66 kB)
     -------------------------------------- 66.8/66.8 kB 400.9 kB/s eta 0:00:00
Collecting fsspec==2023.3.0
  Downloading fsspec-2023.3.0-py3-none-any.whl (145 kB)
     -------------------------------------- 145.4/145.4 kB 1.2 MB/s eta 0:00:00
Collecting aiohttp!=4.0.0a0,!=4.0.0a1
  Downloading aiohttp-3.8.4-cp39-cp39-win_amd64.whl (323 kB)
     -------------------------------------- 323.6/323.6 kB 1.4 MB/s eta 0:00:00
Collecting botocore<1.27.60,>=1.27.59
  Downloading botocore-1.27.59-py3-none-any.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 1.9 MB/s eta 0:00:00
Collecting aioitertools>=0.5.1
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Requirement already satisfied: wrapt>=1.10.10 in c:\programdata\anaconda3\lib\site-packages (from aiobotocore~=2.4.2->s3fs) (1.14.1)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-win_amd64.whl (56 kB)
     ---------------------------------------- 56.8/56.8 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (21.4.0)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-win_amd64.whl (28 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.0.4)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-win_amd64.whl (34 kB)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: typing_extensions>=4.0 in c:\programdata\anaconda3\lib\site-packages (from aioitertools>=0.5.1->aiobotocore~=2.4.2->s3fs) (4.3.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\programdata\anaconda3\lib\site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (1.26.11)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\programdata\anaconda3\lib\site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (2.8.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\programdata\anaconda3\lib\site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (0.10.0)
Requirement already satisfied: idna>=2.0 in c:\programdata\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (1.16.0)
Installing collected packages: multidict, fsspec, frozenlist, async-timeout, aioitertools, yarl, botocore, aiosignal, aiohttp, aiobotocore, s3fs
Successfully installed aiobotocore-2.4.2 aiohttp-3.8.4 aioitertools-0.11.0 aiosignal-1.3.1 async-timeout-4.0.2 botocore-1.27.59 frozenlist-1.3.3 fsspec-2023.3.0 multidict-6.0.4 s3fs-2023.3.0 yarl-1.8.2
Note: you may need to restart the kernel to use updated packages.

In [58]:
import s3fs

In [107]:
import chardet
with open('C:/Users/AdityaKumar/Downloads/Students-Table.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [106]:
import chardet
with open('Insert-Table.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [108]:
#df=pd.read_csv('C:/Users/AdityaKumar/Downloads/Students-Table.csv')

#df=pd.read_csv('s3://data-aiot-interns/Week-1/Students-Table.csv')

df=pd.read_csv('Insert-Table.csv',encoding = "ISO-8859-1")
#df=pd.read_csv('s3://data-aiot-interns/Week-1/Insert-Table.csv',encoding = "ISO-8859-1")

In [109]:
df.head()

,Studentid,firstname,lastname,email,Date of Exam,Marks,Percentage,City,Country,Country Code
0,2113,Ruthe,Clara,Ruthe.Clara@yopmail.com,10-04-1966,271,77.0640,Baghdad,Pitcairn,BE
1,2694,Hollie,Irmine,Hollie.Irmine@yopmail.com,15-10-1926,995,37.4039,Perm,British Indian Ocean Territory,BV
2,2954,Marjie,Bonucci,Marjie.Bonucci@yopmail.com,09-08-1923,599,71.3633,Jakarta,Portugal,TZ
3,2502,Corry,Olin,Corry.Olin@yopmail.com,02-05-2011,900,62.7114,Columbus,Thailand,GL
4,2951,Addia,Redmond,Addia.Redmond@yopmail.com,11-10-2010,628,78.8490,Nanning,Dominican Republic,DZ

In [110]:
# Added first name and alst name into a Full name 
df["Full_Name"]=df['firstname']+" "+df['lastname']

In [111]:
df.head()

,Studentid,firstname,lastname,email,Date of Exam,Marks,Percentage,City,Country,Country Code,Full_Name
0,2113,Ruthe,Clara,Ruthe.Clara@yopmail.com,10-04-1966,271,77.0640,Baghdad,Pitcairn,BE,Ruthe Clara
1,2694,Hollie,Irmine,Hollie.Irmine@yopmail.com,15-10-1926,995,37.4039,Perm,British Indian Ocean Territory,BV,Hollie Irmine
2,2954,Marjie,Bonucci,Marjie.Bonucci@yopmail.com,09-08-1923,599,71.3633,Jakarta,Portugal,TZ,Marjie Bonucci
3,2502,Corry,Olin,Corry.Olin@yopmail.com,02-05-2011,900,62.7114,Columbus,Thailand,GL,Corry Olin
4,2951,Addia,Redmond,Addia.Redmond@yopmail.com,11-10-2010,628,78.8490,Nanning,Dominican Republic,DZ,Addia Redmond

In [112]:
f=df.pop('Full_Name')

In [113]:
f

0           Ruthe Clara
1         Hollie Irmine
2        Marjie Bonucci
3            Corry Olin
4         Addia Redmond
            ...
95        Estell Sheedy
96      Ermengarde Even
97    Melisent Cressida
98     Melisent Riordan
99          Gusty Ailyn
Name: Full_Name, Length: 100, dtype: object

In [114]:
df.insert(3,"Full_Name",f)

In [115]:
df.drop(columns=['firstname','lastname'],inplace=True)

In [116]:
df

,Studentid,Full_Name,email,Date of Exam,Marks,Percentage,City,Country,Country Code
0,2113,Ruthe Clara,Ruthe.Clara@yopmail.com,10-04-1966,271,77.0640,Baghdad,Pitcairn,BE
1,2694,Hollie Irmine,Hollie.Irmine@yopmail.com,15-10-1926,995,37.4039,Perm,British Indian Ocean Territory,BV
2,2954,Marjie Bonucci,Marjie.Bonucci@yopmail.com,09-08-1923,599,71.3633,Jakarta,Portugal,TZ
3,2502,Corry Olin,Corry.Olin@yopmail.com,02-05-2011,900,62.7114,Columbus,Thailand,GL
4,2951,Addia Redmond,Addia.Redmond@yopmail.com,11-10-2010,628,78.8490,Nanning,Dominican Republic,DZ
...,...,...,...,...,...,...,...,...,...
95,2269,Estell Sheedy,Estell.Sheedy@yopmail.com,29-10-1955,304,60.8620,Kyoto,New Caledonia,BA
96,2750,Ermengarde Even,Ermengarde.Even@yopmail.com,07-05-1937,715,46.7975,Jerusalem,Chile,ID
97,2277,Melisent Cressida,Melisent.Cressida@yopmail.com,10-08-1934,291,55.6566,Punta Arenas,Sweden,JM
98,2034,Melisent Riordan,Melisent.Riordan@yopmail.com,09-06-1930,765,75.5698,Ürümqi,Sudan,ZA
99,2093,Gusty Ailyn,Gusty.Ailyn@yopmail.com,10-04-1918,566,36.6783,Barranquilla,French Polynesia,SV

In [117]:
# printing data types of the column
print(df.dtypes)

Studentid         int64
Full_Name        object
email            object
Date of Exam     object
Marks             int64
Percentage      float64
City             object
Country          object
Country Code     object
dtype: object

In [118]:
#Convert Percentage column from float to decimal and approximate to 2 significant figures after the decimal point.
df['Percentage']=round(df['Percentage'],2)

In [119]:
df

,Studentid,Full_Name,email,Date of Exam,Marks,Percentage,City,Country,Country Code
0,2113,Ruthe Clara,Ruthe.Clara@yopmail.com,10-04-1966,271,77.06,Baghdad,Pitcairn,BE
1,2694,Hollie Irmine,Hollie.Irmine@yopmail.com,15-10-1926,995,37.40,Perm,British Indian Ocean Territory,BV
2,2954,Marjie Bonucci,Marjie.Bonucci@yopmail.com,09-08-1923,599,71.36,Jakarta,Portugal,TZ
3,2502,Corry Olin,Corry.Olin@yopmail.com,02-05-2011,900,62.71,Columbus,Thailand,GL
4,2951,Addia Redmond,Addia.Redmond@yopmail.com,11-10-2010,628,78.85,Nanning,Dominican Republic,DZ
...,...,...,...,...,...,...,...,...,...
95,2269,Estell Sheedy,Estell.Sheedy@yopmail.com,29-10-1955,304,60.86,Kyoto,New Caledonia,BA
96,2750,Ermengarde Even,Ermengarde.Even@yopmail.com,07-05-1937,715,46.80,Jerusalem,Chile,ID
97,2277,Melisent Cressida,Melisent.Cressida@yopmail.com,10-08-1934,291,55.66,Punta Arenas,Sweden,JM
98,2034,Melisent Riordan,Melisent.Riordan@yopmail.com,09-06-1930,765,75.57,Ürümqi,Sudan,ZA
99,2093,Gusty Ailyn,Gusty.Ailyn@yopmail.com,10-04-1918,566,36.68,Barranquilla,French Polynesia,SV

In [120]:
# Chnaged the date format
a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
print(a)

0     1966-10-04
1     1926-10-15
2     1923-09-08
3     2011-02-05
4     2010-11-10
         ...
95    1955-10-29
96    1937-07-05
97    1934-10-08
98    1930-09-06
99    1918-10-04
Name: Date of Exam, Length: 100, dtype: object

C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '15-10-1926' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '15-10-1908' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '24-02-1933' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '22-11-1953' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '14-01-1943' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '31-01-1940' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '25-08-1941' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '21-11-2002' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '23-06-2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '24-01-1907' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '13-01-1969' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '23-09-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '25-08-1913' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '20-10-1988' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '22-07-1939' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '20-02-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '16-04-1972' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '24-06-1971' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '15-03-1950' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '18-09-1939' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '28-10-1992' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '15-06-1915' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '14-09-1920' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '13-06-1988' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '20-02-1991' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '22-07-1916' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '21-08-1927' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '28-01-1918' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '28-10-1977' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '28-09-1938' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '23-01-1930' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '15-10-1948' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '24-07-1903' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '29-10-1952' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '18-02-1913' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '23-08-1986' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '29-08-1980' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '25-09-1968' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '27-11-1959' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '18-04-1958' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '14-05-2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '27-10-1920' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '23-02-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '13-09-1968' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '15-01-1971' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '28-02-1947' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '21-03-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '26-09-1953' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date
C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_5952\3097324608.py:2: UserWarning: Parsing '29-10-1955' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  a=df['Date of Exam'] = pd.to_datetime(df['Date of Exam']).dt.date

In [121]:
from datetime import datetime

In [122]:
date_format = '%Y%m/%d'
date_obj = datetime.strptime(df['Date of Exam'], date_format)

TypeError: strptime() argument 1 must be str, not Series

In [123]:
df['Date of Exam']= pd.to_datetime(df['Date of Exam'])

In [126]:
df

,Studentid,Full_Name,email,Date of Exam,Marks,Percentage,City,Country,Country Code
0,2113,Ruthe Clara,Ruthe.Clara@yopmail.com,1966-10-04,271,77.06,Baghdad,Pitcairn,BE
1,2694,Hollie Irmine,Hollie.Irmine@yopmail.com,1926-10-15,995,37.40,Perm,British Indian Ocean Territory,BV
2,2954,Marjie Bonucci,Marjie.Bonucci@yopmail.com,1923-09-08,599,71.36,Jakarta,Portugal,TZ
3,2502,Corry Olin,Corry.Olin@yopmail.com,2011-02-05,900,62.71,Columbus,Thailand,GL
4,2951,Addia Redmond,Addia.Redmond@yopmail.com,2010-11-10,628,78.85,Nanning,Dominican Republic,DZ
...,...,...,...,...,...,...,...,...,...
95,2269,Estell Sheedy,Estell.Sheedy@yopmail.com,1955-10-29,304,60.86,Kyoto,New Caledonia,BA
96,2750,Ermengarde Even,Ermengarde.Even@yopmail.com,1937-07-05,715,46.80,Jerusalem,Chile,ID
97,2277,Melisent Cressida,Melisent.Cressida@yopmail.com,1934-10-08,291,55.66,Punta Arenas,Sweden,JM
98,2034,Melisent Riordan,Melisent.Riordan@yopmail.com,1930-09-06,765,75.57,Ürümqi,Sudan,ZA
99,2093,Gusty Ailyn,Gusty.Ailyn@yopmail.com,1918-10-04,566,36.68,Barranquilla,French Polynesia,SV

In [127]:
#Convert Percentage column from float to decimal and approximate to 2 significant figures after the decimal point.
df['Percentage']=round(df['Percentage'],2)

In [128]:
df

,Studentid,Full_Name,email,Date of Exam,Marks,Percentage,City,Country,Country Code
0,2113,Ruthe Clara,Ruthe.Clara@yopmail.com,1966-10-04,271,77.06,Baghdad,Pitcairn,BE
1,2694,Hollie Irmine,Hollie.Irmine@yopmail.com,1926-10-15,995,37.40,Perm,British Indian Ocean Territory,BV
2,2954,Marjie Bonucci,Marjie.Bonucci@yopmail.com,1923-09-08,599,71.36,Jakarta,Portugal,TZ
3,2502,Corry Olin,Corry.Olin@yopmail.com,2011-02-05,900,62.71,Columbus,Thailand,GL
4,2951,Addia Redmond,Addia.Redmond@yopmail.com,2010-11-10,628,78.85,Nanning,Dominican Republic,DZ
...,...,...,...,...,...,...,...,...,...
95,2269,Estell Sheedy,Estell.Sheedy@yopmail.com,1955-10-29,304,60.86,Kyoto,New Caledonia,BA
96,2750,Ermengarde Even,Ermengarde.Even@yopmail.com,1937-07-05,715,46.80,Jerusalem,Chile,ID
97,2277,Melisent Cressida,Melisent.Cressida@yopmail.com,1934-10-08,291,55.66,Punta Arenas,Sweden,JM
98,2034,Melisent Riordan,Melisent.Riordan@yopmail.com,1930-09-06,765,75.57,Ürümqi,Sudan,ZA
99,2093,Gusty Ailyn,Gusty.Ailyn@yopmail.com,1918-10-04,566,36.68,Barranquilla,French Polynesia,SV

In [130]:
df.to_csv("Inssert-Table.csv")

In [55]:
df.update()

TypeError: update() missing 1 required positional argument: 'other'

In [141]:
txt = "Hello\r\rWorld!"
txt

'Hello\r\rWorld!'

In [142]:
import pandas as pd

In [143]:
df=pd.read_json("MyCostReport-Manifest.json")

ValueError: All arrays must be of the same length

In [144]:
import base64
encoded = base64.b64encode(b'data to be encoded')

In [146]:
encoded

b'ZGF0YSB0byBiZSBlbmNvZGVk'

In [152]:
data = base64.decode('base64.txt',)
data

AttributeError: 'str' object has no attribute 'readline'

In [153]:
import base64

base64_message = 'base64.txt'
base64_bytes = base64_message.encode('ascii')
message_bytes = base64.b64decode(base64_bytes)
message = message_bytes.decode('ascii')

print(message)

Error: Invalid base64-encoded string: number of data characters (9) cannot be 1 more than a multiple of 4